@{
    ViewData["Title"] = "Home Page";
}

<h4>Minhas propostas</h4>

@if (ViewBag.ProposalsIamIn != null)
{
    @foreach (Proposal proposal in ViewBag.ProposalsIamIn)
    {
        <div class="card feed-item mt-3">
            <div class="card-body">
                <h5 class="card-title">@proposal.Title</h5>
                @{
                    var categoriesFormated = ((IEnumerable<dynamic>)ViewBag.Categories).Where(x => proposal.Categories.Any(y =>
                            Int32.Parse(x.Value) == y.Id));
                }

                @foreach (var item in categoriesFormated)
                {
                    <h6 class="card-subtitle mb-2 text-muted">@item.Text</h6>
                }
                <p class="card-text">@proposal.Description</p>
                <h6 href="#" class="card-link">Votos: @proposal.Votes</h6>
            </div>
        </div>
    }
}

<h4 class="mt-3">Propostas que favoritei</h4>

@if (ViewBag.ProposalsIFavorited != null)
{
    @foreach (Proposal proposal in ViewBag.ProposalsIFavorited)
    {
        <div class="card feed-item mt-3">
            <div class="card-body">
                <h5 class="card-title">@proposal.Title</h5>
                @{
                    var categoriesFormated = ((IEnumerable<dynamic>)ViewBag.Categories).Where(x => proposal.Categories.Any(y =>
                           Int32.Parse(x.Value) == y.Id));
                }

                @foreach (var item in categoriesFormated)
                {
                    <h6 class="card-subtitle mb-2 text-muted">@item.Text</h6>
                }
                <p class="card-text">@proposal.Description</p>
                <h6 href="#" class="card-link">Votos: @proposal.Votes</h6>
            </div>
        </div>
    }
}
