@{
    ViewData["Title"] = "Home Page";
}

<h4 class="mt-3">Propostas em que estou</h4>

@if (ViewBag.ProposalsIamIn != null)
{
    @foreach (Proposal proposal in ViewBag.ProposalsIamIn)
    {
        <div class="card feed-item mt-3">
            <div class="card-body">
                <!-- Checar se já favoritou, se sim estrela preenchida, se não estrela vazia -->

                @{
                    bool Favorited = false;
                }

                @foreach (Proposal proposalsIFavorited in ViewBag.ProposalsIFavorited)
                {
                    if (proposal.Id == proposalsIFavorited.Id)
                    {
                        Favorited = true;
                    }
                }

                @if (Favorited)
                {
                    <a asp-controller="Home" asp-action="Favorite" asp-route-proposalId="@proposal.Id"><i
                class="fa-solid fa-star fa-lg"></i></a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Favorite" asp-route-proposalId="@proposal.Id"><i
                class="fa-regular fa-star fa-lg"></i>
                    </a>
                }

                <!-- Checar se já favoritou, se sim estrela preenchida, se não estrela vazia -->

        <h5 class="card-title">@proposal.Title</h5>
                @{
                    var categoriesFormated = ((IEnumerable<dynamic>)ViewBag.Categories).Where(x => proposal.Categories.Any(y =>
                            Int32.Parse(x.Value) == y.Id));
                }

                @foreach (var item in categoriesFormated)
                {
                    <h6 class="card-subtitle mb-2 text-muted">@item.Text</h6>
                }
                <p class="card-text">@proposal.Description</p>
                <div style="display: flex;">
                    <h6 class="card-link mr-2">@proposal.Votes</h6>
                    @{
                        bool liked = false;
                    }

                    @foreach (AppUserProposalVote proposalsILiked in ViewBag.ProposalsILiked)
                    {
                        if (proposal.Id == proposalsILiked.ProposalId)
                        {
                            liked = true;
                        }
                    }

                    @if (liked)
                    {
                        <a asp-controller="Home" asp-action="Vote" asp-route-proposalId="@proposal.Id"><i
                    class="fa-solid fa-thumbs-up fa-lg"></i></a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Vote" asp-route-proposalId="@proposal.Id"><i
                    class="fa-regular fa-thumbs-up fa-lg"></i></a>
                    }
                </div>
            </div>
        </div>
    }
}

<h4 class="mt-3">Propostas que favoritei</h4>

@if (ViewBag.ProposalsIFavorited != null)
{
    @foreach (Proposal proposal in ViewBag.ProposalsIFavorited)
    {
        <div class="card feed-item mt-3">
            <div class="card-body">
                <a asp-controller="Home" asp-action="Favorite" asp-route-proposalId="@proposal.Id"><i
                class="fa-solid fa-star fa-lg"></i></a>
                <h5 class="card-title">@proposal.Title</h5>
                @{
                    var categoriesFormated = ((IEnumerable<dynamic>)ViewBag.Categories).Where(x => proposal.Categories.Any(y =>
                            Int32.Parse(x.Value) == y.Id));
                }

                @foreach (var item in categoriesFormated)
                {
                    <h6 class="card-subtitle mb-2 text-muted">@item.Text</h6>
                }
                <p class="card-text">@proposal.Description</p>
                <div style="display: flex;">
                    <h6 class="card-link mr-2">@proposal.Votes</h6>
                    @{
                        bool liked = false;
                    }

                    @foreach (AppUserProposalVote proposalsILiked in ViewBag.ProposalsILiked)
                    {
                        if (proposal.Id == proposalsILiked.ProposalId)
                        {
                            liked = true;
                        }
                    }

                    @if (liked)
                    {
                        <a asp-controller="Home" asp-action="Vote" asp-route-proposalId="@proposal.Id"><i
                    class="fa-solid fa-thumbs-up fa-lg"></i></a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Vote" asp-route-proposalId="@proposal.Id"><i
                    class="fa-regular fa-thumbs-up fa-lg"></i></a>
                    }
                </div>
            </div>
        </div>
    }
}
