@model innovation_hub.Models.Proposal

<div class="mx-auto feed-container">
    <div class="p-3 rounded feed-item">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProposalType" class="control-label"></label>
                <select asp-for="ProposalType" class="form-control">
                    <option value="0">Projeto</option>
                    <option value="1">Ideia</option>
                    <option value="2">Problema</option>
                </select>
                <span asp-validation-for="ProposalType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input name="TeamMembers" class="form-control" placeholder="Membros da equipe, separe por virgula" />
            </div>
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="Título" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group row">
                @foreach (var item in ViewBag.Categories)
                {
                    <div class="form-check">
                        <input name="ProposalCategories" class="form-check-input" type="checkbox" value="@item.Value"
                        id="@item.Text">
                        <label class="form-check-label" for="@item.Text">
                            @item.Text
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <textarea asp-for="Description" class="form-control" rows="5" cols="50"
                    placeholder="Descrição"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Private" /> @Html.DisplayNameFor(model => model.Private)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Postar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <!-- Conteudo do feed abaixo -->
    @foreach (Proposal proposal in ViewBag.Proposals)
    {
        @if (!proposal.Private)
        {
            <div class="card feed-item mt-3">
                <div class="card-body">
                    <!-- Checar se já favoritou, se sim estrela preenchida, se não estrela vazia -->

                    @{
                        bool Favorited = false;
                    }

                    @foreach (AppUserProposalFavorite proposalsIFavorited in ViewBag.ProposalsIFavorited)
                    {
                        if (proposal.Id == proposalsIFavorited.ProposalId)
                        {
                            Favorited = true;
                        }
                    }

                    @if (Favorited)
                    {
                        <a asp-controller="Feed" asp-action="Favorite" asp-route-proposalId="@proposal.Id"><i class="fa-solid fa-star fa-lg"></i></a>
                    }
                    else
                    {
                        <a asp-controller="Feed" asp-action="Favorite" asp-route-proposalId="@proposal.Id"><i class="fa-regular fa-star fa-lg"></i>
</a>
                    }

                    <!-- Checar se já favoritou, se sim estrela preenchida, se não estrela vazia -->

                    <h5 class="card-title">@proposal.Title</h5>

                    @{
                        var categoriesFormated = ((IEnumerable<dynamic>) ViewBag.Categories).Where(x => proposal.Categories.Any(y => Int32.Parse(x.Value) == y.Id));
                    }

                    @foreach (var item in categoriesFormated)
                    {
                        <h6 class="card-subtitle mb-2 text-muted">@item.Text</h6>
                    }
                    <p class="card-text">@proposal.Description</p>
                    <div style="display: flex;">
                        <h6 class="card-link mr-2">@proposal.Votes</h6>

                        @{
                            bool liked = false;
                        }

                        @foreach (AppUserProposalVote proposalsILiked in ViewBag.ProposalsILiked)
                        {
                            if (proposal.Id == proposalsILiked.ProposalId)
                            {
                                liked = true;
                            }
                        }

                        @if (liked)
                        {
                            <a asp-controller="Feed" asp-action="Vote" asp-route-proposalId="@proposal.Id"><i
                        class="fa-solid fa-thumbs-up fa-lg"></i></a>
                        }
                        else
                        {
                            <a asp-controller="Feed" asp-action="Vote" asp-route-proposalId="@proposal.Id"><i
                        class="fa-regular fa-thumbs-up fa-lg"></i></a>
                        }
                    </div>
                    @{
                        string modalName = "commentModal" + @proposal.Id;
                    }
                    <button data-toggle="modal" data-target="#@modalName" type="button" class="btn btn-primary">
                        Comentar
                    </button>
                </div>
            </div>
            <div class="modal fade" id="@modalName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- -------------------Login----------------- -->
                    <form asp-controller="Feed" asp-action="Comment" class="mb-3">
                                <div class="form-group">
                                    <label for="comment">Comentar</label>
                                    <textarea class="form-control" id="comment" name="comment"></textarea>
                                    <input name="proposalId" value="@proposal.Id" hidden>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            @foreach (Comment comment in proposal.Comments)
                            {
                                <div>
                                    <h6>@comment.AppUserNickname</h6>
                                    <p>@comment.CommentDate</p>
                                    <p>@comment.CommentText</p>
                                    <div style="display: flex;">
                                        <p class="mr-2">@comment.Votes</p>

                                        @{
                                            bool likedComment = false;
                                        }

                                        @foreach (AppUserCommentVote commentsILiked in ViewBag.CommentsILiked)
                                        {
                                            if (comment.Id == commentsILiked.CommentId)
                                            {
                                                likedComment = true;
                                            }
                                        }

                                        @if (likedComment)
                                        {
                                            <a asp-controller="Feed" asp-action="VoteComment" asp-route-commentId="@comment.Id"><i
                                    class="fa-solid fa-thumbs-up fa-lg"></i></a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Feed" asp-action="VoteComment" asp-route-commentId="@comment.Id"><i
                                    class="fa-regular fa-thumbs-up fa-lg"></i></a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>