@model innovation_hub.Models.Proposal

<div class="mx-auto feed-container">
    <div class="p-3 rounded feed-item">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProposalType" class="control-label"></label>
                <select asp-for="ProposalType" class="form-control">
                    <option value="0">Projeto</option>
                    <option value="1">Ideia</option>
                    <option value="2">Problema</option>
                </select>
                <span asp-validation-for="ProposalType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="Título" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group row">
                @foreach (var item in ViewBag.Categories)
                {
                    <div class="form-check">
                        <input name="ProposalCategories" class="form-check-input" type="checkbox" value="@item.Value"
                        id="@item.Text">
                        <label class="form-check-label" for="@item.Text">
                            @item.Text
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <textarea asp-for="Description" class="form-control" rows="5" cols="50"
                    placeholder="Descrição"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Private" /> @Html.DisplayNameFor(model => model.Private)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Postar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <!-- Conteudo do feed abaixo -->
    @foreach (Proposal proposal in ViewBag.Proposals)
    {
        @if (!proposal.Private)
        {
            <div class="card feed-item mt-3">
                <div class="card-body">
                    <h5 class="card-title">@proposal.Title</h5>
                    @foreach (var item in proposal.Categories)
                    {
                        <h6 class="card-subtitle mb-2 text-muted">@item.Category</h6>
                    }
                    <p class="card-text">@proposal.Description</p>
                    <h6 href="#" class="card-link">Votos: @proposal.Votes</h6>
                </div>
            </div>
        }
    }
</div>